nodered/login-form-test.flow
[{"id":"db451805.6f5c78","type":"tab","label":"Web Scraping","disabled":false,"info":""},{"id":"4c694bf8.e91ad4","type":"http request","z":"db451805.6f5c78","name":"","method":"GET","ret":"txt","url":"","x":270,"y":100,"wires":[["4109dcc3.40d6c4"]]},{"id":"d773ea87.504d88","type":"http request","z":"db451805.6f5c78","name":"","method":"POST","ret":"txt","url":"","tls":"","x":370,"y":240,"wires":[["3f3ccdaf.521682","ecfbd686.3c76b8"]]},{"id":"96e507aa.9f40a8","type":"change","z":"db451805.6f5c78","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://testing-ground.scraping.pro/login","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":40,"wires":[["4c694bf8.e91ad4"]]},{"id":"ed4e043c.73e008","type":"http in","z":"db451805.6f5c78","name":"","url":"/webscraping","method":"get","upload":false,"swaggerDoc":"","x":110,"y":40,"wires":[["96e507aa.9f40a8"]]},{"id":"3f3ccdaf.521682","type":"http response","z":"db451805.6f5c78","name":"","statusCode":"302","headers":{"Location":"http://testing-ground.scraping.pro/login?mode=welcome"},"x":550,"y":200,"wires":[]},{"id":"4109dcc3.40d6c4","type":"change","z":"db451805.6f5c78","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://testing-ground.scraping.pro/login?mode=login","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/x-www-form-urlencoded\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"{\"usr\":\"admin\",\"pwd\":\"12345\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":180,"wires":[["d773ea87.504d88"]]},{"id":"ecfbd686.3c76b8","type":"debug","z":"db451805.6f5c78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":160,"y":300,"wires":[]}]
